<script setup lang="ts">
import FansyButton from "@/components/FansyButton.vue";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FansyButton
          ><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail>Tail</template>
        </FansyButton></v-col
      >
      <v-col
        ><FansyButton>
          <template #tail>
            <v-icon :icon="mdiCursorDefaultClickOutline" /></template
          >Click Me
        </FansyButton></v-col
      >
    </v-row>
  </v-container>
</template>
