<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-card class="mx-auto" max-width="500" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://www.cnet.com/a/img/resize/cb28a9e09069459a141f7e3a2f0512df2b9940db/hub/2019/11/22/54e87421-01f5-4bbc-b54f-2f23fcce3634/tesla-cybertruck-unveil-retouched-6.jpg?auto=webp&fit=crop&height=1200&width=1200"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://yt3.ggpht.com/CNaplZm9pPcAKSXuGSlgGt09E3kBm3MC28ekrokAHHkYUqePRJ1TZiSlSzU9QelRGBFNQEuFpQ=s900-c-k-c0x00ffffff-no-rj"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Suphakorn Auttano"
              subtitle="Student ID: 63160081"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card max-width="500" class="mx-auto" color="grey-lighten-3">
          <v-layout>
            <v-app-bar
              color="teal-darken-4"
              image="https://i.ytimg.com/vi/hvC2r3Uq8WQ/maxresdefault.jpg"
            >
              <template v-slot:image>
                <v-img
                  gradient="to top right, rgba(19,84,122,.8), rgba(128,208,199,.8)"
                ></v-img>
              </template>

              <template v-slot:prepend>
                <v-app-bar-nav-icon></v-app-bar-nav-icon>
              </template>

              <v-app-bar-title>Education</v-app-bar-title>
            </v-app-bar>

            <v-main>
              <v-container fluid>
                <v-row dense>
                  <v-col>
                    <v-card
                      title="University"
                      subtitle="Burapha University"
                      text="Computer Science"
                    ></v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-main>
          </v-layout>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="448">
          <v-layout>
            <v-app-bar color="primary" density="compact">
              <template v-slot:prepend>
                <v-app-bar-nav-icon></v-app-bar-nav-icon>
              </template>

              <v-app-bar-title>Interesing</v-app-bar-title>
            </v-app-bar>

            <v-main>
              <v-container fluid>
                <v-row>
                  <v-col>Photographing</v-col>
                </v-row>
                <v-row dense>
                  <v-col v-for="n in 8" :key="n" cols="3">
                    <v-sheet color="grey-lighten-2" height="96"></v-sheet>
                  </v-col>
                </v-row>
              </v-container>
            </v-main>
          </v-layout>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
